.car-container {
  width: 300px;
  height: 250px;
  border: 1px solid black;
  background-color: light-grey;
  font-size: 20px;
  float:left; 
  margin-right:50px;
  margin-top:25px;
  margin-bottom:25px;
  padding:20px;
  text-align:center;
}

.car-container img{
  width:75px;
  height:75px;
}

.car-container .btn{
  font-size:14px;
  text-align:center;
  margin:10px;
}

