@media (min-width: 1200px) {
  .container {
    width: 1600px;
  }
}
h2 {
  text-align: center;
}

.layout {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.login-container {
  max-width: 420px;
  margin: 0 auto;
  margin: 0 auto;
  margin-top: 40px;
}

.login-form-button {
  width: 100%;
}

.hero {
  background-image: url(../../img/hero.jpg);
  background-size: cover;
  width: 100%;
  height: 800px;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 300px;
  color: white;
  left: 300px;
}
.hero-h1 {
  font-size: 90px;
}
.hero-h2 {
  font-size: 60px;
}
.hero-button {
  margin-top: 40px;
  font-size: 40px;
  height: 70px;
  background-color: rgba(18, 22, 67, 1);
  border-color: rgba(18, 22, 67, 1);
  color: white;
  border-radius: 10px;
  border-radius: 200px;
  line-height: 1.4;
  font-size: 30px;
  padding: 16px 30px 14px;
}

.icons {
  height: 600px;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.icons h2 {
  text-align: center;
  padding-bottom: 50px;
}
.icon {
  float: left;
  width: 33%;
  text-align: center;
}

.icon-single {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgba(18, 22, 67, 1);
}

.icon-text {
  margin-top: 20px;
  font-size: 20px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  background: #ffffff;
  overflow: hidden;
}

.ant-carousel .slick-dots li button {
  background-color: rgba(18, 22, 67, 1);
  height: 5px;
}

.ant-carousel .slick-slide h3 {
  color: #222;
}

.icon-single i {
  color: rgba(18, 22, 67, 1);
  width: 150px;
  height: 150px;
  margin: auto auto;
  margin-top: 37.5px;
  font-size: 75px;
}

.icons-text {
  width: 50%;
  margin: 0 auto;
  display: flex;
  border-top: 2px solid #ebebeb;
  padding: 100px 0px;
}
.icons-text--container {
  width: 50%;
}

.icons-text--button {
  width: 50%;
}

.icons-text--button button {
  margin-top: 30px;
}

.services-list ul {
  text-align: center;
  width: 49%;
  margin: 0 auto;
  display: inline-block;
}
.services-list li {
  list-style: none;
}

.services-list {
  width: 100%;
  padding: 100px 25%;
  font-size: 20px;
  line-height: 30px;
  background-color: #292b32;
  color: #545a77;
}

.services-list ul h2 {
  color: #bbc2dc;
  margin-bottom: 25px;
}

.services-carousel {
  padding: 100px 0px;
  background-color: #f6f8fd;
  text-align: center;
}

.service-container {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  display: flex;
}

.service-container img {
  margin: 30px 0px;
  margin-left: 30px;
  width: 30%;
  height: 100%;
  float: left;
}

.service-body {
  padding: 30px;
  line-height: 30px;
}
.service-body h3 {
  color: black;
}

.services-carousel .ant-carousel {
  width: 50%;
  margin: 0 auto;
}

.ant-carousel .slick-dots li.slick-active button {
  color: black;
}

.anticon svg {
  color: black;
}

footer {
  display: flex !important;
  background-color: #333535;
  padding: 0 10%;
  color: white;
}
.footer-container {
  width: 50%;
  text-align: left;
}

footer ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}

.footer-signup {
  justify-content: flex-end;
  right: 0;
  margin-left: 100px;
}
