.chat {
  width: 600px;
  height: 100%;
}

.chatIcons {
  width: 10%;
  float: left;
  margin-top: 10px;
}

.chatSend {
  width: 90%;
  height: 500px;
  position: relative;
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid grey;
}
.form {
  width: 70%;
  position: absolute;
  bottom: 10px;
}

.chatSend button {
  position: absolute;
  bottom: 24px;
  right: 3px;
  width: 30%;
}

.conversationBox {
  position: relative;
  width: 100%;
  height: 85%;
}

.conversationBox p {
  border: 2px solid lightgreen;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.time {
  font-size: 8px;
  color: grey;
  float: right;
}

.chatIcon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-color: grey;
  clear: both;
  margin: 5px;
}

.chatIcon:hover {
  background-color: #1890ff;
  color: white;
}
