.app-content {
  margin-top: 64px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif";
  overflow-x: hidden;
}

.job-container {
  width: 300px;
  float: left;
  border: 1px solid #d3d3d3;
  text-align: center;
  padding: 16px;
  margin: 16px;
}

.hiddenJobs-container,
.currentJobs-container,
.activeJobs-container,
.newJobs-container {
  clear: both;
}

.job-container .btn {
  width: 110px;
  padding: 5px;
  margin: 10px;
}

h1 {
  clear: both;
}

.special{
  position:absolute !important;
  top:90px;
  right:20px;
}