.app-content {
  margin-top: 64px;
  width: 100%;
  margin: 0 auto;
}

.transparent {
  background-color:transparent !important;
}


.pac-container{
  z-index: 9999999;
}


body {
  font-family: "Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif";
  overflow-x: hidden;
}

.job-container {
  width: 100%;
  border: 1px solid #d3d3d3;
  background-color:white;
  padding: 20px;
  margin: 20px auto;
  position:relative;
}

.hiddenJobs-container,
.currentJobs-container,
.activeJobs-container,
.newJobs-container {
  clear: both;
}

.job-container .btn-danger {
  margin: 10px;
  position:absolute;
  right:0px;
  top:20px;
}

.job-container h2 {
  text-align:left;
}

h1 {
  clear: both;
}

.special{
  position:absolute !important;
  top:20px;
  right:20px;
}

.offer-container img{
  width:200px;
  height:200px;
  float:left;
  padding :20px;
  padding-top:0px;
}

.rating-star svg{
  color:#ffe234;
  width:20px;
  height:20px;
  vertical-align:sub;

}

.ratingBackground{
  padding:10px;

}


.services-menu{
  padding-left:0;
  list-style-type: none;

}
.services-menu li{
  display:inline-block;
  padding:10px;
  padding-left:0;

}

.location-search-input{
  width:100%;
  padding: 4px 11px;
  margin-bottom:4px;
  min-height:32px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius:4px;
  line-height:1.5px;
}

.unreadMessages{
  background-color: #d9534f;
  color:white;
  border:1px solid #d43f3a;
  padding:10px;
  width:1140px;
  margin: 0 auto;

}

