.login-container {
    max-width: 420px;
    margin: 0 auto;
    margin: 0 auto;
    margin-top: 40px;
}

.login-form-button {
    width: 100%;
}

.service-hero{
    background:transparent url(../../img/service-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    height:900px;
    text-align:center;
    color:white;
}

.arrows-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    max-width: 1440px;
    min-width: 320px;
    padding-top:50px;

}

.arrow-container{
    width:25%;
    height:240px;
    margin:30px;
    margin-right:20px;
    margin-right:30px;
    position:relative;
    background-color:white;
    padding:38px 25px;
}

.arrow-container:first-child{
    background-color:#001730;
    color:white;
}

.arrow-container:first-child:after{
    border-color: transparent transparent transparent #001730;
}

.arrow-container:after{
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 120px 0 120px 30px;
    border-color: transparent transparent transparent white;
}

.arrow-container h6{
    font-size:30px;
    margin:10px;
}

.arrow-container p{
    font-size:20px;
    margin-top:25px;
    margin-left:10px;
}

.contact-us{
    display:block;
    width:80%;
    clear:both;
    margin:0 auto;
}

.contact-us h2{
    padding-bottom:50px;
}

.h2{
    padding-bottom: 50px;;
}

footer{
    clear:both;
}

.signup-form button{
    margin-top:46px;
}

.avantaje-container{
    width:80%;
    margin:0 auto;
}

.avantaje-container .icons{
    padding:5%;
}

.avantaje-container .icon p{
    font-size:20px;
    margin:20px;
}