body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ant-layout{
  background-color: #f4f7f6 !important;

}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color:white; 
  position:relative;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.7em;
  }
}


.btn{
  font-size:16px !important;
  height:45px;
  width:auto;
  line-height: 2px !important;

  
}

.btn-success{
  width:100%;
}

@media(min-width:1200px){
  .container{
    width:1440px !important;
  }
}