.signup-container {
  margin: 0 auto;
  margin-top: 40px;
  clear: both;
}

.signup-form-button {
  width: 100%;
  margin-top: 15px;
}

.signup-form-button[disabled],
.signup-form-button[disabled]:hover,
.signup-form-button[disabled]:focus {
  opacity: 0.6;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}

.signup-form input {
  margin-bottom: 3px;
}

.login-tab {
  width: 50%;
  text-align: center;
}

.signup-content {
  width: 600px;
  margin: 0 auto;
}
